html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.texto-menor{
    font-size: 13px;
}

.divs-facilidades {
    width: 325px;
}

.botao-lilas{
    background-color: #9353FF;
    padding: 10px;
    color:#fff;
    text-decoration: none;
  
 }

.icons {
    color: #DAFF01;
}


@media(max-width: 767px){
    .posicao{
        top:60%;
    }
}

footer {
    background-color: black;
    margin-bottom: 0;
}